@import "tailwindcss";

:root {
  --background: #FDFDFD;
  --foreground: #050505;
  --font-family-base: 'Mona Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDFDFD;
    --foreground: #050505;
    --font-family-base: 'Mona Sans', sans-serif;
  }
}


/* @font-face {
  font-family: 'Mona Sans';
  src: url('/fonts/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Mona Sans Body';
  src: url('/fonts/MonaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans Bold';
  src: url('/fonts/MonaSans_Expanded-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body, .body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 400;
}

.title {
  font-family: 'Mona Sans Bold', sans-serif;
  font-weight: 500;
}

.small {
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 400;
}

.bold-body{
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 600;
}

.small-body {
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 400;
}

.titles-h4{
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 500;
}

.big-body {
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 400;
}

.small-button {
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 400;
}

.bold-small-body {
  font-family: 'Mona Sans Body', sans-serif;
  font-weight: 600;
}


.underline-active::after {
    content: '';
    position: absolute;
    bottom: -8px; /* Adjust this to move the underline down */
    left: 0;
    width: 100%;
    height: 1.5px; /* Adjust thickness of the underline */
    background-color: #050505; /* Color of the underline */
}

.page-underline::after {
    content: '';
    position: absolute;
    bottom: 0px; /* Adjust this to move the underline down */
    left: 1px;
    width: 120%;
    height: 1.5px; /* Adjust thickness of the underline */
    background-color: #050505; /* Color of the underline */
}
